* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */

body {
    font-family: "Roboto";
    background: #2196f3;
}

header {
    padding: 17px;
    background: #1976d2;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.row, figure, h2 {
    margin: 0 !important;
    padding: 0 !important;
}

h2 {
    color: #fff;
    margin: 7px !important;
    font-size: 25px;
    font-weight: bold;
}

[class*="col-"],
[class^="col-"] {
    padding: 5px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    min-width: 100%;
    object-fit: cover;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.button-container {
    width: 100%;
    text-align: center;
}

.button-container button {
    padding: 7px 18px;
    border: none;
    border-radius: 3px;
    background: #1976d2;
    color: #fff;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.button-container button:hover {
    background: #2780da;
}

/* ->Estilos generales */

/* Body */

main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container {
    display: inline-block;
    width: 80%;
    padding: 20px;
}

/* ->Body */

/* Imágenes */

.images-cards figure {
    position: relative;
}

.images-cards img {
    height: 240px;
}

.images-cards figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 44px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.images-cards figure figcaption:hover {
    opacity: 1;
}

/* ->Imágenes */

/* Selector de imágenes */

#Images .add-new-photo {
    display: flex;
    border: 4px dashed #fff;
    height: 100%;
    min-height: 240px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

#Images .add-new-photo.first:hover {
    background: rgba(255, 255, 255, 0.17);
}

#add-photo-container input {
    display: none;
}

/* ->Selector de imágenes */

/** grid **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.flex-center {
  align-self: center !important;
}

@media (max-width:768px) {

    .hide-xs {
      display: none !important;
    }

    .c-1-xs,
    .c-10-xs,
    .c-11-xs,
    .c-12-xs,
    .c-2-xs,
    .c-3-xs,
    .c-4-xs,
    .c-5-xs,
    .c-6-xs,
    .c-7-xs,
    .c-8-xs,
    .c-9-xs {
        display: inline-block;
        align-self: flex-end;
    }
    .c-1-xs {
        flex: 0 0 8.333333333333333%
    }
    .c-2-xs {
        flex: 0 0 16.66666666666667%
    }
    .c-3-xs {
        flex: 0 0 25%
    }
    .c-4-xs {
        flex: 0 0 33.33333333333333%
    }
    .c-5-xs {
        flex: 0 0 41.66666666666667%
    }
    .c-6-xs {
        flex: 0 0 50%
    }
    .c-7-xs {
        flex: 0 0 58.33333333333334%
    }
    .c-8-xs {
        flex: 0 0 66.66666666666667%
    }
    .c-9-xs {
        flex: 0 0 75.00000000000002%
    }
    .c-10-xs {
        flex: 0 0 83.33333333333333%
    }
    .c-11-xs {
        flex: 0 0 91.66666666666666%
    }
    .c-12-xs {
        flex: 0 0 100%
    }
    .visible-xs {
        display: inline-block !important;
    }
}

@media (min-width:768px) and (max-width:992px) {

    .hide-sm {
      display: none !important;
    }

    .c-1-sm,
    .c-10-sm,
    .c-11-sm,
    .c-12-sm,
    .c-2-sm,
    .c-3-sm,
    .c-4-sm,
    .c-5-sm,
    .c-6-sm,
    .c-7-sm,
    .c-8-sm,
    .c-9-sm {
        display: inline-block;
        align-self: flex-end;
    }
    .c-1-sm {
        flex: 0 0 8.333333333333333%
    }
    .c-2-sm {
        flex: 0 0 16.66666666666667%
    }
    .c-3-sm {
        flex: 0 0 25%
    }
    .c-4-sm {
        flex: 0 0 33.33333333333333%
    }
    .c-5-sm {
        flex: 0 0 41.66666666666667%
    }
    .c-6-sm {
        flex: 0 0 50%
    }
    .c-7-sm {
        flex: 0 0 58.33333333333334%
    }
    .c-8-sm {
        flex: 0 0 66.66666666666667%
    }
    .c-9-sm {
        flex: 0 0 75.00000000000002%
    }
    .c-10-sm {
        flex: 0 0 83.33333333333333%
    }
    .c-11-sm {
        flex: 0 0 91.66666666666666%
    }
    .c-12-sm {
        flex: 0 0 100%
    }
    .visible-sm {
        display: inline-block !important;
    }
}

@media (min-width:992px) and (max-width:1200px) {

    .hide-md {
      display: none !important;
    }

    .c-1-md,
    .c-10-md,
    .c-11-md,
    .c-12-md,
    .c-2-md,
    .c-3-md,
    .c-4-md,
    .c-5-md,
    .c-6-md,
    .c-7-md,
    .c-8-md,
    .c-9-md {
        display: inline-block;
        align-self: flex-end;
    }
    .c-1-md {
        flex: 0 0 8.333333333333333%
    }
    .c-2-md {
        flex: 0 0 16.66666666666667%
    }
    .c-3-md {
        flex: 0 0 25%
    }
    .c-4-md {
        flex: 0 0 33.33333333333333%
    }
    .c-5-md {
        flex: 0 0 41.66666666666667%
    }
    .c-6-md {
        flex: 0 0 50%
    }
    .c-7-md {
        flex: 0 0 58.33333333333334%
    }
    .c-8-md {
        flex: 0 0 66.66666666666667%
    }
    .c-9-md {
        flex: 0 0 75.00000000000002%
    }
    .c-10-md {
        flex: 0 0 83.33333333333333%
    }
    .c-11-md {
        flex: 0 0 91.66666666666666%
    }
    .c-12-md {
        flex: 0 0 100%
    }
    .visible-md {
        display: inline-block !important;
    }
}

@media (min-width:1200px) {

    .hide-lg {
      display: none !important;
    }

    .c-1-lg,
    .c-10-lg,
    .c-11-lg,
    .c-12-lg,
    .c-2-lg,
    .c-3-lg,
    .c-4-lg,
    .c-5-lg,
    .c-6-lg,
    .c-7-lg,
    .c-8-lg,
    .c-9-lg {
        display: inline-block;
        align-self: flex-end;
    }
    .c-1-lg {
        flex: 0 0 8.333333333333333%
    }
    .c-2-lg {
        flex: 0 0 16.66666666666667%
    }
    .c-3-lg {
        flex: 0 0 25%
    }
    .c-4-lg {
        flex: 0 0 33.33333333333333%
    }
    .c-5-lg {
        flex: 0 0 41.66666666666667%
    }
    .c-6-lg {
        display: inline-block;
        flex: 0 0 50%
    }
    .c-7-lg {
        flex: 0 0 58.33333333333334%
    }
    .c-8-lg {
        flex: 0 0 66.66666666666667%
    }
    .c-9-lg {
        flex: 0 0 75.00000000000002%
    }
    .c-10-lg {
        flex: 0 0 83.33333333333333%
    }
    .c-11-lg {
        flex: 0 0 91.66666666666666%
    }
    .c-12-lg {
        flex: 0 0 100%
    }
    .visible-lg {
        display: inline-block !important;
    }
}

/*** icon ****/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?qr9hxx');
    src:  url('../fonts/icomoon.eot?qr9hxx#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?qr9hxx') format('truetype'),
      url('../fonts/icomoon.woff?qr9hxx') format('woff'),
      url('../fonts/icomoon.svg?qr9hxx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-camera:before {
    content: "\e90f";
  }
  .icon-cross:before {
    content: "\ea0f";
  }

  /** modal **/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto";
  }
  
  main {
    margin: 50px 0;
    display: flex;
    justify-content: center;
  }
  
  /* Modal */
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block !important;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    z-index: -1;
    transition: 0.3s all ease;
  }
  
  .modal.show {
    opacity: 1;
    z-index: 10;
  }
  
  .modal .modal-main {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: -100%;
    left: 0;
    padding: 0 5px;
    transition: 0.3s all ease;
  }
  
  .modal.show .modal-main {
    top: 0;
  }
  
  .modal .modal-main .row {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 50px !important;
  }
  
  .modal .modal-main .row > div {
    align-self: stretch !important;
  }
  
  .modal .modal-main .modal-card {
    padding: 15px;
    display: none;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    margin: 50px;
  }
  
  /* Loader */
  
  #loading {
    color: #696969;
    text-align: center;
  }
  
  #loading .preloader {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: loading;
  }
  
  #loading .tag {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin-top: 8px;
  }
  
  @keyframes loading {
  
    0% {
      transform: rotateZ(0);
    }
  
    100% {
      transform: rotateZ(360deg);
    }
  
  }
  
  /* ->Loader */
  
  /* ->Modal */
  